<%- include('include/_header') %>
<h6>User Game History</h6>
<form action="/" method="POST" id="userdata">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th class="text-center">User Id</th>
        <th class="text-center">Score</th>
        <th class="text-center">Date</th>
      </tr>
    </thead>
    <% for (var i of his) { %>
      <tr>
        <td><%= i.userId %></td>
        <td><%= i.score %></td>
        <td><%= i.createdAt %></td>
      </tr>
      <% } %>
    
<%- include('include/_footer') %>   