<%- include('include/_header') %>  
    <div class="container-fluid"> 
      <% usergames.forEach(i => { %>
        <div>
          <p><%= i.id %></p>
          <p><%= i.username %></p>
          <p><%= i.password %></p>
        </div>
        <% }) %>
    </div>
<%- include('include/_footer') %> 