<% for (var i of users) { %>
<tr>
  <td><%= i.id %></td>
  <td><%= i.username %></td>
  <td><%= i.password %></td>
  <td><%= i.status %></td>
  <td class="d-flex" style="justify-content: space-evenly;">
    <a href="/update" class="action">
      <span class="text-gradient">Update</span>
    </a>
    <a method='DELETE' href="/users/<%= i.id %>" class="action">
      <span class="text-gradient">Delete</span>
    </a>
    <a href="/history" class="action">
      <span class="text-gradient">History</span>
    </a>
  </td>
</tr>
<% } %>